
// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;


// 图片摘要重置样式
.blog-bgImg
    display block
    border-radius 0.5rem
    overflow hidden
    margin-top 0.5rem !important
    width 100%
    height auto
    max-height none !important

// 鼠标指针
html
    // cursor url('/cursor/default.cur'),auto
    a
      //cursor url('/cursor/link.cur'),auto !important

// 隐藏github仓库
.nav-links .repo-link 
    display none !important

// 博客列表样式
.post-list .post .excerpt-wrapper .excerpt
    margin-bottom 0.5rem !important

// 首页博客标题样式
.hero 
    #main-title 
        color var(--textColor)
	    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; 
    .description
        color var(--textColor)
        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

// 博客背景图片样式
.body-bg
     animation kenburns-bottom 100s infinite ease-out both

// 评论格式修改
#vuepress-plugin-comment .vaction[for="waline-image-upload"]
    display none !important





@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes kenburns-bottom {
  0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 84%;
  }
  100% {
        transform: scale(1.25) translateY(15px);
        transform-origin: bottom;
  }
}

